/* import font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --main-color: #49bbbd;
  --primary-color: #252641;
  --secondary-color: #696984;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.btn {
  background-color: var(--main-color);
  color: #fff;
  border: none;
  width: 232px;
  height: 60px;
  border-radius: 36px;
  font-size: 22px;
  font-weight: 500;
  text-transform: capitalize;
  cursor: pointer;
  transition: all 0.3s ease;
}
body {
  font-family: "Poppins", sans-serif;
  color: var(--primary-color);
}
.container {
  width: 40%;
  margin: 0 auto;
}
@media screen and (max-width:1024px){
  .container {
  width: 70%;
 }
}
@media screen and (max-width:768px){
  .container {
  width:80%;
 }
}
@media screen and (max-width:430px){
  .container {
  width: 95%;
 }
}
.title {
  text-align: center;
  text-transform: capitalize;
  font-size: 30px;
  font-weight: 700;
  padding: 2rem 0;
}
form {
  margin-top: 10px;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}
.row {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
input {
  color: var(--primary-color);
  width: 90%;
  padding: 15px 20px;
  outline: none;
  border: 1px solid var(--main-color);
  border-radius: 40px;
  font-size: 18px;
}
.pass {
  position: relative;
}
.fa-eye-slash,.fa-eye {
  font-size: 18px;
  position: absolute;
  bottom: 18px;
  right: 13%;
}
label {
  text-transform: capitalize;
  font-size: 20px;
}
.btns {
  display: flex;
  justify-content: center;
}
input::-webkit-input-placeholder {
  color: var(--secondary-color);
  font-size: 15px;
}

label::after {
  content: " *";
  color: red;
}

body {
  position: relative;
}
.popper {
  top: 20px;
  right: 20px;
  position: absolute;
  min-width: 400px;
  min-height: 100px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  display: none;
  align-items: center;
}
.popper > p::before {
  content: "âŒ ";
}
.popper > p {
  color: rgb(255, 0, 0);
  font-size: 20px;
}
@media screen and (max-width:768px){
  .popper {
  top:10px;
  left: 0px;
   width: 80%;
}
}
